



<ion-header>
  <ion-toolbar>
    <ion-title>test</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-list>
    <ion-item>
      <ion-button>
        123
      </ion-button>
    </ion-item>
  
    <ion-item>
      <ion-button>
        456
      </ion-button>
    </ion-item>
  
    <ion-item>
      <ion-button>
        789
      </ion-button>
    </ion-item>
  </ion-list>



</ion-content>
