
<ion-content style="--background:whitesmoke;">
  <!-- <div class="search"> -->
    <div class='search-header'>
      <div class="search-back-button" (click)="goBack();">
        <ion-icon name="chevron-back-outline" ></ion-icon>
      </div>
      <div class="search-bar">
        <app-search-bar (onSubmit)="searchSubmit($event);" (onChange)="searchChange($event);"></app-search-bar>
      </div>
    </div>
  
    <div class="search-results" #SearchResultContainer>
      
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  <!-- </div> -->
</ion-content>
