<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="community-area">
    <app-search-bar (onSubmit)="searchSubmit($event);" ></app-search-bar>
    <div class="topic-container">
      <div  *ngIf="topicCards" #TopicCardContainer>
        <!-- <app-community-card *ngFor="let topicCard of topicCards" [topicCard]="topicCard"></app-community-card> -->
      </div>
    </div>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>