<ion-item button="true" (click)="createModal(postCard.pid);">
  <div class="item-grid-class">
    <div>
      <ion-label>{{ postCard.title }}</ion-label>
    </div>
    <div class="item-time-p-class">
      <div class="item-time-class">
        <ion-note style="color: rgb(167, 167, 167);">{{ postCard.releaseTime | date:"yyyy-MM-dd HH:mm"}} · {{ postCard.topic[0].name }}</ion-note>
        <div class="item-comment-class">

          <ion-icon name="chatbox-outline" ></ion-icon>
          <ion-note >&nbsp;{{postCard.numberOfComments}}</ion-note>
        </div>
      </div>
    </div>
    <div class="item-img-class">
        <ion-img [src]="postCard.coverUrl" id="item-img-class"></ion-img>
    </div>
  </div>
</ion-item>