// global.scss
@import '~swiper/scss';
@import '~@ionic/angular/css/ionic-swiper';
// home.page.scss
@import '~swiper/scss';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/keyboard';
@import '~swiper/scss/pagination';
@import '~swiper/scss/scrollbar';
@import '~swiper/scss/zoom';
@import '~@ionic/angular/css/ionic-swiper';


.card{
    float: left;
    width: 44%;
    margin:10px 3%;
    border-radius: 5px;
    line-height:30px
}

.name{
    font-weight: bolder;
    font-size: 15px;
}
