
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >游戏介绍</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-item>
    <span>发布时间：{{detailedgame.briefintroduction.Issuedate}}</span>
   
  </ion-item>
    
  <ion-item>
    <span>开发商：{{detailedgame.briefintroduction.Developers}}</span>
  </ion-item>
    
  <ion-item>
    <span> 发行商：{{detailedgame.briefintroduction.Issuedate}}</span>
  </ion-item>
    
  <ion-item>
    {{detailedgame.briefintroduction.text}}
  </ion-item>

</ion-content>