<div class="user-card" (click)="createMomentModal(userCard.uid)">
  <div class="user-avatar" *ngIf="userCard">
    <ion-avatar>
      <ion-img [src]="userCard.avatarUrl"></ion-img>
    </ion-avatar>
  </div>
  <div class="user-name">
    <ion-label>{{userCard.userName}}</ion-label>
  </div>
  <div class="user-releaseTime" *ngIf="true">
    <ion-note>{{releaseTime| date:"yyyy-MM-dd HH:mm"}}</ion-note>
  </div>
  <div class="follow-button" (click)="followingToggle();" *ngIf="postMode">
    <div class="following-label" *ngIf="isFollow">已关注</div>
    <div class="follow-label" *ngIf="!isFollow">关注</div>
  </div>
  <!-- <div class="user-other">

  </div> -->
</div>
