.post-card-detail{
    all: initial;
    display: grid;
    grid-template-rows: auto,auto,auto;
    grid-row-gap: 5px;
    padding:10px;
    // grid-template-columns: auto;
    border-top: 0px;
    border-bottom: 1px;
    border-left: 0;
    border-right: 0;
    border-color: rgba(65, 65, 65, 0.13);
    border-style: solid;
}
.user-card{
    grid-row-start: 1;
    grid-row-end: 2;
    // width: 100%;
}
.post-card-detail-content{
    grid-row-start: 2;
    grid-row-end: 3;
    // width: 100%;
}
.post-card-detail-content ion-text{
    margin:0px;
    padding:0px;
    width:100%;

}
.post-card-detail-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  21vw;
    grid-column-gap: 6px;
    justify-items: center;
}
.post-card-img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}