.left{
    margin: 0;
    padding: 0;
    width: 80%;
    float: left;
    padding-left: 5%;
}

.right{
    margin: 0;
    padding: 0;
    width: 20%;
    float: left;
}

.icons{
    width: 21px;
    height: 21px;
}