<ion-header>
  <ion-toolbar>
    <ion-title>通用设置</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="modalDismiss();">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>

      <div class="left">护眼模式</div>

      <div class="right">
        <ion-toggle color="secondary"></ion-toggle>
      </div>

    </ion-item>
  
    <ion-item>     

      <div class="left">省流模式</div>

      <div class="right">
        <ion-toggle color="secondary"></ion-toggle>
      </div>

    </ion-item>

  </ion-list>
</ion-content>
