<ion-header>
  <ion-toolbar>
    <ion-title>设置</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="modalDismiss();">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <div class="left" (click)="createPersonalSetModal();">个人设置</div>
      <div class="right"><ion-icon name="chevron-forward-outline" class="icons"></ion-icon></div>
    </ion-item>
  
    <ion-item>
      <div class="left" [routerLink]="[ 'currencyset']">通用设置</div>
      <div class="right"><ion-icon name="chevron-forward-outline" class="icons"></ion-icon></div>
    </ion-item>

    <ion-item>
      <div class="left">隐私设置</div>
      <div class="right"><ion-icon name="chevron-forward-outline" class="icons"></ion-icon></div>
    </ion-item>

    <ion-item>
      <div class="left">帮助中心</div>
      <div class="right"><ion-icon name="chevron-forward-outline" class="icons"></ion-icon></div>
    </ion-item>

    <ion-item>
      <div class="left">关于白盒</div>
      <div class="right"><ion-icon name="chevron-forward-outline" class="icons"></ion-icon></div>
    </ion-item>

    <ion-item>
      <div class="left" [routerLink]="[ 'ppolicy']">用户协议＆隐私政策</div>
      <div class="right"><ion-icon name="chevron-forward-outline" class="icons"></ion-icon></div>
    </ion-item>

    
      <ion-button expand="full" fill="clear" class="button" (click)="loginout()">
        退出登录
      </ion-button>
    

  </ion-list>
</ion-content>
