<ion-header>
  <ion-toolbar>
    <ion-title>设置</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <div class="left" [routerLink]="[ 'personalset']">个人设置</div>
      <div class="right"><ion-icon name="chevron-forward-outline" class="icons"></ion-icon></div>
    </ion-item>
  
    <ion-item>
      <div class="left" [routerLink]="[ 'currencyset']">通用设置</div>
      <div class="right"><ion-icon name="chevron-forward-outline" class="icons"></ion-icon></div>
    </ion-item>

    <ion-item>
      <div class="left">隐私设置</div>
      <div class="right"><ion-icon name="chevron-forward-outline" class="icons"></ion-icon></div>
    </ion-item>

    <ion-item>
      <div class="left">帮助中心</div>
      <div class="right"><ion-icon name="chevron-forward-outline" class="icons"></ion-icon></div>
    </ion-item>

    <ion-item>
      <div class="left">关于白盒</div>
      <div class="right"><ion-icon name="chevron-forward-outline" class="icons"></ion-icon></div>
    </ion-item>

    <ion-item>
      <div class="left" [routerLink]="[ 'ppolicy']">用户协议＆隐私政策</div>
      <div class="right"><ion-icon name="chevron-forward-outline" class="icons"></ion-icon></div>
    </ion-item>

  </ion-list>
</ion-content>
