.clarity{
    border: none;
}

.icons{
    font-size: 30px;
    float: right;
    padding: 8px 7px 8px;
}

.fontiocn{
    width: 66px;
}

.headleft{
    width: 50%;
    height: 46px;
    float: left;
    font-size: 18px;
}

.headfont{
    padding-left: 12px;
    padding-top: 10px;
    font-weight: bolder;
}