.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px;
    font-size: 14px;
    text-align: center;
}

.grid-container .grid-item p{
    margin: 0;
    padding-top: 6px;
}

.userheadpic{
    width: 20%;
    height: 71.8px;
    float: left;
    margin: 0;
    padding: 0;
}

.usermes{
    width: 80%;
    height: 71.8px;
    float: left;
    margin: 0;
    padding: 0;
}

.username{
    font-size: 15px;
    padding-left: 15px;
}

.usersign{
    padding-left: 15px;
}