<ion-content>
  <ion-card>
      <ion-card-header>
        <div class="usertop">
          <div class="userheadpic" style="background-color: aqua;"></div>
          <div class="usermes">
            <p class="username">{{user.userName}}</p>
            <p class="usersign">{{user.signature}}</p>
            
          </div>
        </div>
        
      </ion-card-header>

      <ion-card-content>
          <ion-toolbar>
              <div class="grid-container">
                  <div class="grid-item">
                    {{user.numberOfFollow}}
                    <br>
                    关注
                  </div>
                  <div class="grid-item">
                    {{user.numberOfFans}}
                    <br>
                    粉丝
                  </div>
                  <div class="grid-item">
                    {{user.numberOfCollection}}
                    <br>
                    收藏
                  </div>   
              </div>
          </ion-toolbar> 
      </ion-card-content>
  </ion-card>

  <app-userdata></app-userdata>
</ion-content>
