<ion-header>

  <ion-toolbar class="toolbar">

    <div class="top">
      <div class="usertask">
        <div class="iocns">
          <ion-icon name="reader" style="width: 35px; height: 35px; padding-top: 8.2px; padding-left: 20px;"></ion-icon>
        </div>
        <div class="fonts">
          <p style="font-family: 黑体; font-weight: bolder; margin: 0; padding-top: 10px;">我的动态</p>
          <p style="font-family: 黑体; font-weight: bolder; margin: 0; font-size: 12px;">发过啥</p>
        </div>
        <div class="smallfont">
          <p style="font-family: 黑体;" [routerLink]="[ 'mytask']">></p>
        </div>
      </div>

      <div class="usertask">
        <div class="iocns">
          <ion-icon name="bag-handle" style="width: 35px; height: 35px; padding-top: 8.2px; padding-left: 20px;"></ion-icon>
        </div>
        <div class="fonts">
          <p style="font-family: 黑体; font-weight: bolder; margin: 0; padding-top: 10px;">游戏库</p>
          <p style="font-family: 黑体; font-weight: bolder; margin: 0; font-size: 12px;">买过啥</p>
        </div>
        <div class="smallfont">
          <p style="font-family: 黑体;">></p>
        </div>
      </div>

    </div>


  </ion-toolbar>

</ion-header> 

