.toolbar{
    position:fixed;
    top:0;
    left: 0;
}

.usertask{
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
}

.iocns{
    width: 25%;
    float: left;
}

.fonts{
    width: 60%;
    float: left;
}

.smallfont{
    width: 15%;
    float: right;
}

.item{
    background-color: aqua;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.top{
    height: 20%;
}

.mid{
    height: 80%;
    background-color: aqua;
}

.bo{
    height: 20%;
    background-color: black;
    width: 20%;
}