
img{
    width: 40%;
    float: left;
}
.nature{
    float: left;
margin: 0px;
padding: 0px;
    width: 50%;
}
.gamename{
    font-weight: bolder;
    margin: 5px;
    font-size: 20px;
    display: inline-block;
}
.price{
    font-size: 20px;
}
.dabge{
    display: inline-block;
}


