<ion-header class="ion-no-border" style="border-bottom:1px solid rgba(65, 65, 65, 0.13);">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="modalDismiss();">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="post" >{{post.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [forceOverscroll]="false" [scrollEvents]="true" >
  <div class="post" *ngIf="post">

    <div class="post-cover" *ngIf="post.isPaper">
      <ion-img [src]="post.coverUrl" id="cover"></ion-img>
    </div>

    <div class="post-title" *ngIf="post.title">
      <ion-title style="padding: 0;" >{{post.title}}</ion-title>
    </div>

    <div class="author-bar" >
      <app-user-card [userCard]="userCard" [releaseTime]="post.releaseTime"></app-user-card>
    </div>

    <div class="post-content">
      <div #postContainer></div>
    </div>
    <!-- <app-comment-card></app-comment-card> -->
    <app-comment-area [pid]="post.pid" *ngIf="!previewMode || !reqFailed"></app-comment-area>


  </div>
  <div *ngIf="reqFailed" (click)="loadPost();" style="z-index:9999; position: absolute; top: 50%; left: 50%;margin-top:-10.5px;margin-left: -65.9px;">
    <ion-text >获取失败,点击重试</ion-text>
    <!-- <ion-text></ion-text> -->
  </div>
</ion-content>
<app-comment-footer [numberOfComments]="post.numberOfComments" *ngIf="!previewMode || !reqFailed"></app-comment-footer>

