<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modalDismiss();">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >{{postInfo.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="post" *ngIf="post">
    <!-- <ion-button (click)="createModal(post);"></ion-button> -->
    <!-- <ion-button (click)="renderPost();"></ion-button> -->
    <ion-title>{{post.title}}</ion-title>
    <div class="author-info"></div>
    <div class="post-content" #postContainer>
    <!-- Adding an empty template for later use -->

    <div class="comment">
      <div class="comment-bar"></div>
      <div class="comment-area"></div>
    </div>
  </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="comment-box">
      <ion-note *ngIf="post; else elseNoShow">评论(已有{{post.numberOfComments}}条评论)</ion-note>
      <ng-template #elseNoShow>
        <ion-note>评论</ion-note>
      </ng-template>
    </div>
    <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="thumbs-up"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="star"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
