<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>注册</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-list>

    <ion-item>
      
      <ion-input type="text" [(ngModel)]="phone" placeholder="请输入账号"></ion-input>
    </ion-item>

    <ion-item>
      
      <ion-input type="password" [(ngModel)]="pwd" placeholder="请输入密码"></ion-input>
    </ion-item>

    <ion-item>
      
      <ion-input type="password" [(ngModel)]="pwd1" placeholder="请确认密码"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <ion-button color="primary" (click)="register()" expand="block" fill="clear" shape="round">
      立即注册
    </ion-button>
  </div>

</ion-content>
