
.logintop{
    height: 90%;
}

.loginbottom{
    height: 10%;
}

#divuser{
	height: 50px;
    
}

#uid{
    font-size: 18px;
	width: 60%;
	height: 50px;
	background-color: gray;
	border-style: none;
	border-radius: 6px;
    margin-left: 20%;
    margin-top: 20%;
}

#divpass{
	height: 50px;
}

#psw{
	font-size: 18px;
	width: 60%;
	height: 50px;
	background-color: gray;
	border-style: none;
	border-radius: 6px;
    margin-left: 20%;
    margin-top: 10%;
}

#sub{
	background-color: gray;
	width: 40%;
    height: 40px;
	border-radius: 6px;
	border-style: none;
    margin-left: 30%;
    margin-top: 10%;
}
