<ion-card *ngFor="let item of levelOrder,let i=index">
  <ion-item (click)="isShowHandler(i,item.courseId)">
    <ion-label>{{item.courseName}}</ion-label>
    <ion-icon slot="end" name="ios-arrow-down" *ngIf="isShow =='show'+i"></ion-icon>
    <ion-icon slot="end" name="ios-arrow-forward" *ngIf="isShow !='show'+i"></ion-icon>
  </ion-item>

  <!--展开-->
  <ion-list *ngIf="isShow=='show'+i">
    <ion-item class="program" *ngFor="let pItem of program">
      <ion-label>
        <label #uName class="name" (click)="question()">{{pItem.name}}</label>
      </ion-label>
      <ion-button *ngIf="pItem.name != '此课程暂无模板'" color="primary" (click)="releasedRoute(pItem.id)">发布</ion-button>
      <ion-button *ngIf="pItem.name != '此课程暂无模板'" color="success" (click) = "editPractice(pItem.id)">编辑</ion-button>
      <ion-button *ngIf="pItem.name != '此课程暂无模板'" color="danger" (click)="deletePractice(pItem.id)">删除</ion-button>
    </ion-item>
  </ion-list>
</ion-card>
