<ion-header>
  <ion-toolbar>
    <ion-title>Community</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true">
  <!-- <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Toggle Infinite Scroll
  </ion-button> -->
  <swiper #swiperRef (slideChange)="onSlideChange($event)" >
    <ng-template swiperSlide >
        <app-post-card-detail-area></app-post-card-detail-area>
    </ng-template>
    <ng-template swiperSlide>Slide 31230948</ng-template>
    <!-- <ng-template swiperSlide>Slide 3</ng-template> -->
  </swiper>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <!-- <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
    </ion-fab-list> -->
    <ion-fab-list side="start">
      <ion-fab-button (click)="createPostEditerModal('post');">
        <ion-icon name="reader-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="createPostEditerModal('paper');">
        <ion-icon name="newspaper-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <!-- <ion-fab-list side="end">
      <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list> -->
  </ion-fab>


  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list #postCardContainer></ion-list> -->
</ion-content>



