<ion-header class="ion-no-border" style="border-bottom:1px solid rgba(65, 65, 65, 0.13);">
  <ion-toolbar>
    <ion-title>Community</ion-title>
  </ion-toolbar>
</ion-header> 


<ion-content [fullscreen]="true">
  <swiper #swiperRef (slideChange)="onSlideChange($event)" style="width: 100%; height: 100%;">
    <ng-template swiperSlide>
      <ion-content>
        <app-post-card-detail-area ></app-post-card-detail-area>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
          <ion-fab-button>
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="start">
            <ion-fab-button (click)="createPostEditerModal(false);">
              <ion-icon name="reader-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="createPostEditerModal(true);">
              <ion-icon name="newspaper-outline"></ion-icon>
            </ion-fab-button>
            <!-- <ion-fab-button>
              <ion-icon name="file-tray-full-outline"></ion-icon>
            </ion-fab-button> -->
          </ion-fab-list>
        </ion-fab>
      </ion-content>
    </ng-template>
    
    <ng-template swiperSlide>
      <app-community-area style="width: 100%;height: 100%;"></app-community-area>
    </ng-template>
  
  </swiper>
</ion-content>
