<ion-header>
    <ion-toolbar class="toolbar">
        <div class="usertask">
            <div class="iocns">
              <ion-icon name="receipt" style="width: 35px; height: 35px; padding-top: 8.2px; padding-left: 20px;" [routerLink]="[ 'mytask']"></ion-icon>
            </div>
            <div class="fonts">
              <p style="font-family: 黑体; font-weight: bolder; margin: 0; padding-top: 10px;" [routerLink]="[ 'mytask']">创作中心</p>
              <p style="font-family: 黑体; font-weight: bolder; margin: 0; font-size: 12px;" [routerLink]="[ 'mytask']">已完成</p>
            </div>
            <div class="smallfont">
              <p style="font-family: 黑体;" [routerLink]="[ 'mytask']">></p>
            </div>
          </div>
          <div class="usertask">
            <div class="iocns">
              <ion-icon name="newspaper" style="width: 35px; height: 35px; padding-top: 8.2px; padding-left: 20px;"></ion-icon>
            </div>
            <div class="fonts">
              <p style="font-family: 黑体; font-weight: bolder; margin: 0; padding-top: 10px;">草稿箱</p>
              <p style="font-family: 黑体; font-weight: bolder; margin: 0; font-size: 12px;">未完成</p>
            </div>
            <div class="smallfont">
              <p style="font-family: 黑体;">></p>
            </div>
        </div>
    </ion-toolbar>
</ion-header>