<ion-header>
  <ion-toolbar>

    <ion-title>个人设置</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-button slot="end" color="light" style="padding-right: 5%;" expand="block">

      <ion-icon name="checkmark-outline">
      </ion-icon>

    </ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <div class="left"  [routerLink]="[ 'test']">头像设置</div>
      <div class="mid"></div>
      <div class="right"><ion-icon name="chevron-forward-outline" class="icons"></ion-icon></div>
    </ion-item>

    <ion-item>
      <div class="left">昵称设置</div>
      <ion-input class="mid" id="username">{{testusername}}</ion-input>
      <div class="right"><ion-icon name="chevron-forward-outline" class="icons"></ion-icon></div>
    </ion-item>

    <ion-item>
      <div class="left">签名设置</div>
      <ion-input class="mid" id="usersign" [(ngModel)]="peopleinfo.usersign"></ion-input>
      <div class="right"><ion-icon name="chevron-forward-outline" class="icons"></ion-icon></div>
    </ion-item>

    <ion-item>
      <div class="left">性别</div>
      <div class="mid" style="padding-left: 50%;">
        
        <input type="radio" value="m" name="usersex" id="sexm" [(ngModel)]="peopleinfo.usersex"><label for="sexm">男</label>
        &nbsp;
        <input type="radio" value="f" name="usersex" id="sexf" [(ngModel)]="peopleinfo.usersex"><label for="sexf">女</label>

      </div>
      <div class="right"></div>
    </ion-item>

    <ion-item>
      <div class="left">生日</div>
      <div class="mid"></div>
      <div class="right"><ion-icon name="chevron-forward-outline" class="icons"></ion-icon></div>
    </ion-item>

    <ion-item>
      <div class="left">邮箱</div>
      <ion-input class="mid" [(ngModel)]="peopleinfo.usermail"></ion-input>
      <div class="right"><ion-icon name="chevron-forward-outline" class="icons"></ion-icon></div>
    </ion-item>

    <pre>
      {{peopleinfo | json}}
    </pre>
  </ion-list>
</ion-content>


<script>
  const button = document.querySelector('ion-button');
  button.addEventListener('click', handleButtonClick);

  async function handleButtonClick() {
    const alert = await alertController.create({
      header: 'Use this lightsaber?',
      message: 'Do you agree to use this lightsaber to do good across the galaxy?',
      buttons: ['Disagree', 'Agree'],
    });

    await alert.present();
  }
</script>