.left{
    margin: 0;
    padding: 0;
    width: 25%;
    float: left;
    padding-left: 5%;
}

.mid{
    margin: 0;
    padding: 0;
    width: 70%;
    float: left;
}

.right{
    margin: 0;
    padding: 0;
    width: 5%;
    float: left;
}

.icons{
    width: 21px;
    height: 21px;
}