<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>登录</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-list>

    <ion-item>
      <ion-label stacked>账号</ion-label>
      <ion-input type="text" [(ngModel)]="uid"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>密码</ion-label>
      <ion-input type="password" [(ngModel)]="pwd"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <ion-button color="primary" (click)="login()" expand="block" fill="clear" shape="round">
      登录
    </ion-button>
  </div>

  <div padding text-center>
    <ion-button color="primary" expand="block" fill="clear" shape="round" [routerLink]="[ 'register' ]">
      注册
    </ion-button>
  </div>
</ion-content>
