<ion-header class="ion-no-border" style="border-bottom:1px solid rgba(65, 65, 65, 0.13);">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true" [forceOverscroll]="false" [scrollEvents]="true"  >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
      <!-- <ion-button (click)="lazyLoadPostCard(postCards);"></ion-button> -->
  <ion-list #postCardContainer>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="正在加载...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

