<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="chevron-back-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>添加游戏</ion-title>
   
  </ion-toolbar>
</ion-header>

<span>gid</span>
<input ngmodel="detailedgame.gid">
  <span>gameName</span><ion-input ngmodel="detailedgame.gameName"></ion-input>

  <span>imgUrl</span><ion-input ngmodel="detailedgame.imgUrl"></ion-input>
  <span>imgshow</span>
  <div *ngFor="let item of imgshow; let i=index"></div>
  <ion-icon name="add-outline"></ion-icon>
  <!-- imgshow: [
      'https://img0.baidu.com/it/u=3086421222,3763642393&fm=26&fmt=auto',
      'https://img1.baidu.com/it/u=3309502357,1081703439&fm=26&fmt=auto', 
      'https://img0.baidu.com/it/u=2396924154,1662350068&fm=26&fmt=auto',
      'https://img1.baidu.com/it/u=3309502357,1081703439&fm=26&fmt=auto',
       'https://img0.baidu.com/it/u=3086421222,3763642393&fm=26&fmt=auto'
  ,'https://img0.baidu.com/it/u=1048139790,3786911039&fm=26&fmt=auto',
  'https://img0.baidu.com/it/u=2396924154,1662350068&fm=26&fmt=auto'
  ],
  gameLable: ['单人', '部分支持控制器','支持中文','建造','模拟',],
  Minimumprice: 80,
  nowPrice: 100,
  oldPrice: 200,
Minimum:50,
gameType: ['杀戮', '英雄'],
  score: 9.5,
  onlineNumber: 14.15,
  favorableRate: 46,
  OnlineMaxYesterday: 30.24,
  averageOlnine: 20,
  playerNumber: 65,
  onlineTime: 400,


  dlc: [{ name: 'string', price: 120 }, { name: 'string', price: 103 }],
  briefintroduction: {
      text:'《猎人：荒野的召唤》将为你带来前所未有的狩猎体验。让自己投身一望无际的广袤世界，与各类生机勃勃的动植物为伴：从栩栩如生、威风凛凛的飞禽走兽到枝繁叶茂、遮天蔽日的参天大树，游戏里应有尽有。你大可孤身一人开启冒险之旅，也可与朋友结伴踏上征程。你并非这个世界中的匆匆过客，你的一呼一吸、一举一动都与这里息息相关，请将这一点牢记在心。当你在经过长途跋涉后，终于透过灌木丛第一次得见赤鹿的雄伟身姿，在那一瞬间，你一定会感到血脉偾张。',
      Issuedate: 'asd',
      Developers: 'string',
      publisher: 'string',
  } -->
